{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gothu | Anurag Gothu</title>
    <meta name="description" content="Gothu Khetapur Jaunpur. Anurag Gothu, Smart Village Gothu.">
    <meta name="keywords" content="Gothu, AnuragGothu,GothuVillage,Khetapur">
    <meta name="author" content="Anurag">
    <meta property="og:title" content="Gothu">
    <meta name="google-site-verification" content="8xaxPEYF0SlTrfmzyO6WzywVnUlNXCwQUf4JBG3gCsA" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<header>
    <div class="container">
        <h1>Gothu</h1>
        <p>Mr Vinod | Rajesh | Mukesh | Vishal | Anurag | Atul</p>
    </div>
</header>

<section class="hero">
    <div class="container">
        <img src="{% static 'images/image.png' %}" alt="Village Image">
        <h2>Hello, I'm Anurag</h2>
        <p>Welcome to the official website of Gothu Village.</p>
    </div>
</section>

<footer>
    <div class="container">
        <p>&copy; 2026 Gothu. All Rights Reserved.</p>
    </div>
</footer>

</body>
</html>